<!-- views/experience.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
			<table class="table table-striped">
				<% for (var i = 1; i <= obj.experiences.length; i++) { %>
							<tr>
								<td class="year">
									<h4><%- obj.experiences[i].year %></h4>
											<%- obj.experiences[i].title %>
								</td>
								<td><ul><li></li></ul></td>
								<td class="graduation">
									<h4><%- obj.experiences[i].missions %></h4>
									<p><%- obj.experiences[i].description %></p>
									<i><b>@</b> <%- obj.experiences[i].company %></i><br/>
								</td>
								<td>
									<img src="<%- obj.experiences[i].img %>" class="schoolImg"/>
								</td>
							</tr>
		<%		} %>
		</table>
	</div>
  <% include ./partials/footer %>
</body>
</html>
