<!-- views/experience.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
			<table class="table table-striped">
				<% for (var i = 1; i <= obj.experiences.length; i++) { %>
							<tr>
								<td class="year">
									<h4><%- obj.experiences[i].year %></h4>
											<%- obj.experiences[i].title %>
								</td>
								<td><ul><li></li></ul></td>
								<td class="graduation">
									<h4><%- obj.experiences[i].missions %></h4>
									<p><%- obj.experiences[i].description %></p>
									<b>@</b><i><%- obj.experiences[i].company %></i><br/>
								</td>
								<td>
									<img src="<%- obj.experiences[i].img %>" class="schoolImg"/>
								</td>
							</tr>
		<%		} %>
		</table>
					<div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
							<div class="well">

							<p id="content">
									Compétences Informatiques :<br/>
									Systèmes d’exploitation :	Windows, Linux, Mac OS X, Android.<br/>
									Langages :	Java 8, C, Python 3, C++, VBA, HTML/CSS/PHP, Javascript, Node.js, PERL,<br/>
									Powershell, Bash.<br/>
									Méthodes d’analyse :	MERISE, UML.<br/>

									Centres d’intérêts :<br/>
									-Sciences, Nouvelles Technologies et électronique.<br/>
									-Musique.<br/>
									-Arts Martiaux.<br/>
							</p>
							</div>
						</div>
					</div>
	</div>

  <% include ./partials/footer %>
</body>
</html>
