<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
					<div class="row">
						<div class="col-sm-12"><center><h3><%= obj.projects.schoolProjects.categoryName %>:</h3></center></div>
						<% for (var i = 1; i <= obj.projects.schoolProjects.length; i++) { %>
						<div class="col-sm-3">
							<% if (obj.projects.schoolProjects[i].projectPicture != ""){ %>
								<img src=" <%= obj.projects.schoolProjects[i].projectPicture %>" class="projectImg"/>
							<% } %>
							<h4><a href="<%= obj.projects.schoolProjects[i].projectLink %>"><%= obj.projects.schoolProjects[i].projectName %></a></h4>
							<p><%= obj.projects.schoolProjects[i].projectDescription %></p>
						</div>
						<% } %>
						<div class="col-sm-12"><center><h3><%= obj.projects.sideProjects.categoryName %>:</h3></center></div>
						<% for (var i = 1; i <= obj.projects.sideProjects.length; i++) { %>
						<div class="col-sm-3">
							<% if (obj.projects.sideProjects[i].projectPicture != ""){ %>
								<img src=" <%= obj.projects.sideProjects[i].projectPicture %>" class="projectImg"/>
							<% } %>
							<h4><a href="<%= obj.projects.sideProjects[i].projectLink %>"><%= obj.projects.sideProjects[i].projectName %></a></h4>
							<p><%= obj.projects.sideProjects[i].projectDescription %></p>
						</div>
						<% } %>
					</div>
	</div>

  <% include ./partials/footer %>
</body>
</html>
