<!-- views/template.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
					<div class="row">
					<% for (var h = 1; h <= obj.projects.categories.length; h++) { %>
						<div class="col-sm-12"><center><h3><%= obj.projects.categories[h].categoryName %></h3></center></div>
						<% for (var i = 1; i <= obj.projects.categories[h].length; i++) { %>
						<div class="col-sm-3">
							<% if (obj.projects.categories[h][i].projectPicture != ""){ %>
								<img src=" <%= obj.projects.categories[h][i].projectPicture %>" class="projectImg center"/>
							<% } %>
							<h4 class="project-title"><a href="<%= obj.projects.categories[h][i].projectLink %>"><%= obj.projects.categories[h][i].projectName %></a></h4>
							<p><%= obj.projects.categories[h][i].projectDescription %></p>
						</div>
							<% if (i % 4 == 0){%>
								</div> <div class="row">
							<% } %>
						<% } %>
					<% } %>
			</div>
	</div>
  <% include ./partials/footer %>
</body>
</html>
