<!-- views/technique.ejs -->
<!doctype html>
<html>
<head>
	<title><%= obj.pageTitle %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
	<% include ./partials/menu %>
  <div class="container">
      <div class="page-header text-center">
        <h1><%= obj.sections.section.contentSection.titleSection %></h1>
			</div>
          <div class="row">
						<div class="col-sm-12 col-sm-offset-0" >
            	<p id="content">
								<%- obj.sections.section.contentSection.textSection %>
								<table class="table table">
									<% for (var i = 0; i < obj.skillsData.length; i++) { %>
												<tr>
													<td>  </td>
													<td><h4><%- obj.skillsData[i+1].skillName %> :</h4></td>
													<td>  </td>
												</tr>
												<tr>
													<%			if ( obj.skillsData[i+1].skillImage !== ""){  %>
											    <td><center><img class="skill-pic" src="<%- obj.skillsData[i+1].skillImage %>" alt="<%- obj.skillsData[i+1].skillName %>"/></center></td>
													<% }else{ %>
													<td> </td>
													<% }	%>
													<td><%- obj.skillsData[i+1].skillDescription %></td>
											    <td><%- obj.skillsData[i+1].skillExample %></td>
											  </tr>
							<%		} %>
							</table>
							</div>
						</div>
          </div>

  <% include ./partials/footer %>
</body>
</html>
